# Python
*.pyc
*~
__pycache__
local_settings.py

# Env
.env
myenv/
venv/
myvenv

# Database
db.sqlite3

# Static folder
static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Visual Studio
.vscode/
.history/
*.code-workspace